* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

img {
  width: 100%;
  display: block;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  display: block;
}

h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
}
