// fonts
$font-family-base: "Roboto", sans-serif;

// font size
$font-size-medium: 2vw;
$font-size-base: 1vw;
$font-size-large: 3vw;

// colors
$base-color: #004064;
$sec-color: #4d4d4d;
$third-color: #1a1a1a;

// width
$width: 48%;

// margin
$margin-base: 3%;
$margin-sec: 7%;